.lyric-content{
    color:#2c3e50;
    margin:0;
    white-space:pre-wrap;
    word-break:break-word;
    font-size:18px;
    line-height:1.7;
    font-weight:400;
    padding-top:16px;
    padding-top:1rem
}