.footer-down {
    background-color:#00b7eb !important;
}

.footer-top {
    background-color: #000033 !important;
}

nav {
    background-color: #000033 !important;
}

.coloredHead {
    color: #FF00FF;
}

@media only screen and (max-width: 600px) {
    .logo {
      position: relative !important;
    }
  }

.m-top {
    margin-top: 100px;
}

.login-form {
    margin-top: 0px;
    margin-bottom: 100px;
    background-color:  #ffffff;
}