.footer-down {
    background-color:#00b7eb !important;
}

.footer-top {
    background-color: #000033 !important;
}

.header-nav {
    background-color: #000033 !important;
    padding-left: 25px;
    padding-right: 25px;
}

.link-nav {
    background-color: transparent !important;
}

.coloredHead {
    color: #FF00FF;
}

#slide-out{
    transition: 0.3s ease-in-out;
}
.overlay-content{
    top:0;
    bottom:0;
    left:0;right:0;width:100%;
    background:black;
    opacity:.8;
    z-index:300;
    position:fixed;
    display: none;
}

@media only screen and (max-width: 600px) {
    .logo {
      position: relative !important;
    }
  }

.m-top {
    margin-top: 0px;
}

.login-div {
    margin-top: 0px;
    margin-bottom: 100px;
}

.loginForm {
    border-radius: 10px;
}

.signupForm {
    border-radius: 10px;
}

.link-font-size {
    font-weight: bolder;
}

/* Community styles start here */
.com-sidebar-nav {
    display: block !important;
}

/* Comunity sidebar styles */
.sidebar-ul > li {
    padding: 10px;
    border-bottom: #000033 1px solid;
}

/* Dashboard feed styles */
#textForm, #imageForm, #commentForm {
    padding: 0px;
    margin-top: 0px; 
}

.commentText {
    padding-left:10px !important;
}

::placeholder {
    color: #000033
}

.cardActionLink {
    text-transform: capitalize !important;   
}